__pycache__/
*.pyc
*.pyo
*.pyd
*.py
*.txt

*.exe
*.dll
*.pdb
*.ilk
*.sys
*.lib
*.exp


!examples/
!examples/*.exe
!examples/*.dll
!examples/*.txt

.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
out/
bin/
obj/
*.user
*.suo
*.db
*.opendb
*.sdf
*.ipch
*.aps
*.ncb
*.tlog
*.log